################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/script_tax_obligasi/FileContentIndex
/deploy
/.vs/script_tax_obligasi/v17
/.vs/Git Script Tax Obligasi BDI/FileContentIndex
/.vs
