<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ProxyURLPath" value="http://192.168.0.32:11000/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Sahassa.eStatement.Data.ConnectionString" connectionString="Initial Catalog=EngineStatement_1P_JA_CSRP;Data Source=10.25.136.20,1709\IDSTATU1; User Id = estatement;Password = cimbniaga1!; Connection Timeout = 300;" />-->
    <!--<add name="Sahassa.eStatement.Data.ConnectionString" connectionString="Initial Catalog=EngineStatement_CSRP;Data Source=10.25.135.14,1708\IDSTATD1; User Id = estatement;Password = cimbniaga1!; Connection Timeout = 300;" />-->
    <!--<add name="Sahassa.eStatement.Data.ConnectionString" connectionString="Initial Catalog=EngineStatement;Data Source=192.168.200.88\sql2012; User Id = sa;Password = keymaker; Connection Timeout = 300;" />-->
    <add name="Sahassa.eStatement.Data.ConnectionString" connectionString="Initial Catalog=EngineStatement_BDI;Data Source=shsdev-ga.southeastasia.cloudapp.azure.com,57000; User Id = sa;Password = keymaker1!; Connection Timeout = 300;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>